<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<%- include('../_includes/cabecalho'); %>

</head>

<body>

    <%- include('../_includes/navbar'); %>
    
    <div class="container corpoSite">
        <div class="row" style="margin-left: 200px;">
            <div class="col col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="tituloCard">Menu administração</h2>
                </div>
            <div class="panel-body">
                <div class="col col-lg-8 col-lg-offset-2" style="text-align: center;">
            <div class="list-group">
                <a href="/historico_reserva" class="list-group-item ">Histórico de reserva</a>
                <a href="/itens" class="list-group-item">Itens de consumo</a>
                <a href="/hospedes" class="list-group-item">Hospedes cadastrados</a>
              </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>

    
    <script src="css/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>