<title>My Place Hospedaria</title>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">

	<script src="css/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- incluindo css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- modal bootbox -->
	<script src="js/bootbox.min.js"></script>